<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <nav>
            <img src="img/logo.svg" alt="">
            <img src="img/ham.svg" alt="" id="logoHam" onclick="openHam()">
        </nav>
        <section id="hamburger" class="unShow">
            <img src="img/closeHam.svg" alt="" id="hamImg" onclick="shutHam()">
            <li><a href="/">HOME</a></li>
            <li><a href="/blog">BLOGPAGE</a></li>
            <li><a href="/contact">CONTACT</a></li>
        </section>    
    </header>  
    <main>
        <section class="blubbs">
            <h1>Contact Us</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod <br> tempor incididunt ut labore et dolore magna aliqua. </p>
        </section>
        <section id="contactDetails">
            <article>
                <img src="img/contact.svg" alt="">
                <h3>ADRESS</h3>
                <p>Id convallis placerat sit sed duis id amet volutpat quam a, pharetra.</p>
                <h3>PHONE</h3>
                <p>+62-812-7313-4321</p>
                <p>+62-817-000-1234</p>
                <h3>ONLINE SERVICE</h3>
                <p>www.afrianska.com</p>
                <p>hello.afrian@gmail.com</p>
            </article>
            <form action="">
                <h3>SEND US MESSAGE</h3>
                <label for="text">Full Name</label>
                <input type="text" name="" id="" placeholder="Your Name">
                <label for="email">Email</label>
                <input type="email" name="" id="" placeholder="Your Email">
                <label for="">Message</label>
                <textarea name="message" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
                <input type="button" value="SUBMIT" class="btn">
            </form>
        </section>
        <section id="map">
            <img src="img/map.jpg" alt="">
        </section>
    </main>
    <footer>
        <section id="footer1">
            <article>
                <h2>Our Beloved Client</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </article>
            <article>
                <table>
                    <tr>
                        <td>LOGO CLIENT 1</td>
                        <td>LOGO CLIENT 2</td>
                        <td>LOGO CLIENT 3</td>
                        <td>LOGO CLIENT 4</td>
                    </tr>
                    <tr>
                        <td>LOGO CLIENT 5</td>
                        <td>LOGO CLIENT 6</td>
                        <td>LOGO CLIENT 7</td>
                        <td>More Client</td>
                    </tr>
                </table>
            </article>
            <section id="footer2">
                <article>
                    <div>
                        <h2>Intersted to work with our team?</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur aut officia aliquam, eligendi neque quam eum consectetur dolor corrupti quas sit fugit laborum sint ab repudiandae voluptatum accusantium tenetur ratione.</p>
                    </div>
                    <div><a href="" class="btn">Lets Talk</a></div>
                </article>
                <hr>
                <section id="footer3">
                    <article>
                        <div><img src="img/logo2.svg" alt=""><h3>Afrianska</h3></div>
                        <p><span>A.</span>Lorem ipsum dolor sit amet,<br> conseteure adispim</p>
                        <p><span>T.</span>+523 3452345 2345</p>
                        <p><span>E.</span>hallo.afrian@gmail.com</p>
                        
                    </article>
                    <article>
                        <h6>About US</h6>
                        <ul>
                            <li><a href="">About</a></li>
                            <li><a href="">What We Do</a></li>
                            <li><a href="">Project</a></li>
                            <li><a href="">How It Work With Us</a></li>
                        </ul>
                    </article>
                    <article>
                        <h6>Follow US</h6>
                        <ul>
                            <li><a href="">Instegram</a></li>
                            <li><a href="">Facebook</a></li>
                            <li><a href="">Linkedin</a></li>
                            <li><a href="">Youtube</a></li>
                        </ul>
                    </article>
                </section>
                <p>2019 © Afrianska. All rights reserved.</p>
            </section>
        </section>
    </footer>
    <script src="main.js"></script>
</body>
</html>